.wrap{
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}
.text_overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
em, i, s, strong {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
.star0, .star1, .star2, .star3, .star4, .star5, .star6 {
    background: url(../images/game/litterStar.png) no-repeat;
    width: 84px;
    height: 13px;
    display: inline-block;
}
.star1 {
    background-position: 0 -26px
}

.star2 {
    background-position: 0 -52px
}

.star3 {
    background-position: 0 -78px
}

.star4 {
    background-position: 0 -104px
}

.star5,.star6 {
    background-position: 0 -130px
}
.d_d_header{
    position: relative;
}
.d_header .logo{
    display: inline-block;
    vertical-align: middle;
}
.d_header .logo .logo_img{
    display: inline-block;
    width: 200px;
    height: 80px;
    background: url(../images/game/miiyun_logo2.png) no-repeat center;
}
/* 专为soft.51xiazai.cn写的*/
.d_header .fiveone_logo{
    display: inline-block;
    vertical-align: middle;
}
.d_header .fiveone_logo .logo_img{
    display: inline-block;
    width: 200px;
    height: 80px;
    background: url(../images/ruanjian_logo.png) no-repeat center;
}
/* 专为风起logo写的*/
.d_header .yundong_logo{
    display: inline-block;
    vertical-align: middle;
}
.d_header .yundong_logo .logo_img{
    display: inline-block;
    width: 200px;
    height: 80px;
    background: url(../images/yundong_logo.png) no-repeat center;
}

/*软件logo*/
.d_header .ruanjian_logo{
    display: inline-block;
    vertical-align: middle;
}
.d_header .ruanjian_logo .logo_img{
    display: inline-block;
    width: 200px;
    height: 80px;
    background: url(../images/ruanjian_logo.png) no-repeat center;
}
/*cqhongtjy logo*/
.d_header .cqhongtjy_logo{
    display: inline-block;
    vertical-align: middle;
}
.d_header .cqhongtjy_logo .logo_img{
    display: inline-block;
    width: 400px;
    height: 80px;
    background: url(../images/cqwxcp.jpeg) no-repeat center;
}


.d_header .nav{
    display: inline-block;
    vertical-align: middle;
}
.d_header .nav ul{
    font-size: 0;
    width: 100%;
    height: 53px;
}
.d_header .nav ul li {
    display: inline-block;
    font-size: 18px;
}
.d_header .nav ul li a {
    display: inline-block;
    width: 114px;
    /* height: 40px; */
    line-height: 53px;
    text-align: center;
    color: #333;
}
.d_header .search_box{
    position: relative;
    display: inline-block;
    width: 164px;
    height: 30px;
    margin-top: 26px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 12px;
    border: 1px solid #000;
    color: #333;
}
.d_header .search_box .search_input {
    width: 132px;
    height: 30px;
    text-indent: 14px;
    border: none;
    overflow: hidden;
    outline: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.d_header .search_box .search_input:-internal-autofill-selected {
    background-color: #fff !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
}
.d_header .search_box .search_submit {
    display: inline-block;
    width:17px;
    height: 17px;
    margin-top: 7px;
    margin-right: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: url(../images/game/icon_sou.png) no-repeat center;
    /* background-size: 70%; */
}
.d_banner{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 378px;
    padding-top: 85px;
    background: url(../images/game/banner.png) center center no-repeat;
}
.d_banner .software_bg{
    display: inline-block;
    width: 486px;
    height: 290px;
    vertical-align: top;
    background:url(../images/game/software_bk.png) no-repeat center;
    box-sizing: border-box;
    padding: 8px;
}
.d_banner .software_bg img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.d_banner .software_info{
    position: relative;
    display: inline-block;
    width: 468px;
    height: 326px;
    margin-left: 70px;
    overflow: hidden;
}
.d_banner .software_info .title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
}
.d_banner .software_info .p1 {
    font-size: 14px;
    line-height: 24px;
    margin-left: 96px;
}
.d_banner .software_info .p1 strong{
    font-weight: bold;
}
.d_banner .software_info .p1 span {
    display: inline-block;
    width: 215px;
}
.d_banner .software_info a{
    display: inline-block;
    position: absolute;
    width: 205px;
    height: 56px;
    line-height: 56px;
    margin-top: 50px;
    padding-left: 71px;
    font-size: 24px;
    color: #fff;
    left: 96px;
    box-sizing: border-box;
    background: url(../images/game/now_btn.png) center center no-repeat;
    background-size: contain;
}
.d_banner .software_info .download_now:hover{
    background: url(../images/game/now_hover_btn.png) center center no-repeat;
    background-size: contain;
}
.d_software_list{
    position: relative;
    margin-top: 30px;
}
.d_software_list .quality_software{
    position: relative;
    width: 720px;
    display: inline-block;
    vertical-align: top;
}
.d_software_list .quality_software .quality_title,
.d_software_list .hot_software .hot_title,
.d_software_intro .title{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
}
.d_software_list .quality_software ul{
    font-size: 0;
    width: 100%;
}
.d_software_list .quality_software li {
    display: inline-block;
    width: 20%;
    height: auto;
    /* border: 1px solid red; */
}
.d_software_list .quality_software li a{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom:20px;
}
.d_software_list .quality_software li a img{
    width: 75px;
    height: 75px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.d_software_list .quality_software li a span{
    display: block;
    font-size: 14px;
    color: #333;
    padding: 8px 15px 0;
}
.d_software_list .quality_software li a:hover .title{
    color: #027cfd;
    font-weight: bold;
}
.d_software_list .quality_software li a .kind{
    padding-top: 10px;
    font-size: 12px;
    color: #999;
}
.d_software_list .hot_software{
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-left: 15px;
    vertical-align: top;
}

.d_software_list .hot_software li{
    padding-left: 30px;
    position: relative;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.d_software_list .hot_software li + li{
    margin: 6px 0;
}
.d_software_list .hot_software li .num {
    width: 20px;
    height: 20px;
    background: #879299;
    color: #fffefe;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: 5px;
}
.d_software_list .hot_software li:nth-child(1) em {
    background: #fa4e57;
}
.d_software_list .hot_software li:nth-child(2) em{
    background: #fa7a53;
}
.d_software_list .hot_software li:nth-child(3) em{
    background: #fbc258;
}
.d_software_list .hot_software li .txt {
    display: block;
    color: #333;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
.d_software_list .hot_software li p {
    height: 56px;
    margin: 5px 0 0 0;
}
.d_software_list .hot_software li p {
    display: none;
}
.d_software_list .hot_software li .img {
    float: left;
    padding-right: 8px;
}
.d_software_list .hot_software li .img,
.d_software_list .hot_software li .img img {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.d_software_list .hot_software li span {
    float: left;
    width: 180px;
    position: relative;
    top: -6px;
}
.d_software_list .hot_software li span i {
    color: #999;
}


.d_software_list .hot_software li span i s {
    margin-left: 5px;
}
.d_software_list .hot_software .now{
    height: 100px;
}
.d_software_list .hot_software li.now p{
    display: block;
}
.d_software_list .hot_software li span a {
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #00bd3f;
    border-radius: 3px;
    color: #00bd3f;
}
.d_software_intro{
    position: relative;
    margin-top: 10px;
}
.d_software_intro .content {
    padding: 15px;
    color: #000;
    font-size: 14px;
    line-height: 2.5;
}
.d_btn_list .btn_box{
    margin: 50px auto;
    margin-left: 169px;
}
.d_btn_list .btn_box a {
    display: inline-block;
    width: 200px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-left: 24px;
    margin-top: 50px;
    margin-bottom: 14px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.d_btn_list .btn_box a.dedicated_download{
    background: #3f3ee2;
}
.d_btn_list .btn_box a.dedicated_download:hover {
    background: #3c5ef1;
}
.d_btn_list .btn_box a.general_download{
    background: #149bf1;
}
.d_btn_list .btn_box a.general_download:hover {
    background: #3db4ff;
}
.d_btn_list .btn_box a.fast_download{
    background: #ff9018;
}
.d_btn_list .btn_box a.fast_download:hover {
    background: #ffa23e;
}
.d_footer{
    position: relative;
}
.d_footer .bg-c{
    background: #F0F0F0;
}
.d_footer p{
    font-size: 12px;
    text-align: center;
    line-height: 2;
    padding: 20px 0;
    color: #333;
}
.d_footer p a{
    color: #333;
}
.d_footer_fixedBox{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #fff;
    box-shadow:0 2px 14px 0 rgba(0,0,0,.3);
    z-index: 999;
}
.d_footer_fixedBox img{
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.d_footer_fixedBox .name{
    display: inline-block;
    padding-left: 8px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.d_footer_fixedBox a {
    display: inline-block;
    position: absolute;
    right: 0;
    top:50%;
    width: 205px;
    height: 56px;
    line-height: 56px;
    padding-left: 71px;
    font-size: 24px;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-sizing: border-box;
    background: url(../images/game/now_btn2.png) center no-repeat;
}
.d_footer_fixedBox .download_now:hover {
    background: url(../images/game/now_hover_btn2.png) center no-repeat;
}
